.projects__grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 50vh;
  a {
    width: 35%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 85%;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
      border-radius: 5px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: 0.4s ease-in-out, transform 250ms;
      transition: transform 250ms, 0.4s ease-in-out;
    }
    img:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      transform: scale(1.05);
    }
    h4 {
      color: rgba(34, 34, 165, 0.531);
      font-family: "Now light";
      margin-top: 20px;
      text-align: center;
      font-size: 20px;
      -webkit-transition: 0.4s ease-in-out, transform 250ms;
      transition: transform 250ms, 0.4s ease-in-out;
    }
    p {
      color: rgba(4, 6, 39, 0.2);
      font-family: "Now light";
      margin-top: 6px;
      text-align: center;
      -webkit-transition: 0.4s ease-in-out, transform 250ms;
      transition: transform 250ms, 0.4s ease-in-out;
    }

    img:hover + h4 {
      color: rgba(34, 34, 165, 1);
      transform: scale(1.05);
    }
    img:hover + h4 + p {
      color: rgba(4, 6, 39, 1);
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 768px) {
  // PROJECT PAGE MEDIA QUERIES PHONE
  body .projects__grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-items: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-top: 30px;

    a {
      width: 85%;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      padding: 0 0.1em 0 1em;
      scroll-snap-align: start;
      img {
        width: 100%;
        border-radius: 5px;
        -webkit-filter: none;
        filter: none;
        -webkit-transition: none;
        transition: none;
        box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.034),
          0 3.7px 2.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 10.3px 8.9px rgba(0, 0, 0, 0.072),
          0 20.8px 15.4px rgba(0, 0, 0, 0.086), 0 40px 40px rgba(0, 0, 0, 0.12);
      }
      h4 {
        color: rgb(34, 34, 165);
        font-family: "Now light";
        margin-top: 20px;
        text-align: center;
        font-size: 1.2em;
      }
      p {
        color: rgb(4, 6, 39);
        font-family: "Now light";
        margin-top: 6px;
        text-align: center;
      }
    }
  }

  .projects__grid::-webkit-scrollbar {
    display: none;
  }
}
