.hero {
  align-items: center;
  .hero__welcome {
    display: flex;
    align-items: center;
    .hero__welcome__infos {
      margin-top: 15%;
      .hero__title {
        font-family: "Now Bold";
        text-align: left;
        font-size: 4em;
        width: 100%;
      }
      strong {
        color: rgb(34, 34, 165);
      }
      h4 {
        color: rgb(24, 177, 24);
        padding-left: 0%;
        padding-top: 7%;
        font-size: 2em;
      }
    }
    .hero__welcome__photo {
      margin-top: 6%;
      img {
        width: 300px;
        padding-right: 10%;
      }
    }
  }
}

.hero__mouseScroll {
  margin-top: 13%;
}

@media screen and (max-width: 768px) {
  body .hero {
    align-items: center;
    .hero__welcome {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 2%;
      .hero__welcome__infos {
        margin-top: 10%;
        .hero__title {
          font-family: "Now Bold";
          text-align: center;
          font-size: 1.8em;
          width: 100%;
          padding: 0% 2%;
        }
        strong {
          color: rgb(34, 34, 165);
        }
        h4 {
          color: rgb(24, 177, 24);
          padding-left: 0%;
          padding-top: 7%;
          font-size: 1.3em;
          text-align: center;
        }
      }
      .hero__welcome__photo {
        margin-top: 6%;
        padding-right: 0;
        img {
          width: 200px;
          position: center;
          padding-right: 0;
        }
      }
    }
  }

  body .hero__mouseScroll {
    margin-top: 20%;
  }
}
