.about {
  display: flex;
  flex-direction: row;
  h1 {
    padding-left: 0;
    padding-bottom: 0.5em;
  }
  .about__infos {
    width: 50%;
    display: flex;
    flex-direction: column;
    p {
      padding-right: 6%;
      padding-left: 6%;
      font-size: 1.3em;
      text-align: justify;
    }
    .photo__stack {
      margin-top: 2em;
      padding-right: 50.696px;
      padding-left: 50.696px;
      display: flex;
      justify-content: space-between;

      .react {
        width: 100px;
        height: auto;
      }
      .nodejs {
        width: 100px;
        height: auto;
        object-fit: contain;
      }
      .htmlcssjs {
        width: 100px;
        height: auto;
        object-fit: contain;
      }
      .wordpress {
        width: 100px;
        height: auto;
        object-fit: contain;
      }
    }

    .mouseScroll {
      padding-bottom: 100px;
      background-color: hotpink;
      width: 100%;
    }
  }
  .about__image {
    background-image: url(../../Assets/img/about_photo.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    // filter: blur(2.4px);
  }
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: row;
    h1 {
      font-size: 5em;
      padding-left: 0%;
      padding-bottom: 0.6em;
    }
    .about__infos {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        padding-right: 2%;
        padding-left: 2%;
        font-size: 1em;
        text-align: center;
      }
      .photo__stack {
        display: none;
      }
      .hero__mouseScroll {
        margin-top: 13%;
      }
    }
    .about__image {
      display: none;
    }
  }
}
